<p>Singletone </p>

<p>@ViewBag.singletone1</p>
<p>@ViewBag.singletone2</p>

<p>Scoped </p>

<p>@ViewBag.scoped1</p>
<p>@ViewBag.scoped2</p>

<p>Transient </p>

<p>@ViewBag.transient1</p>
<p>@ViewBag.transient2</p>

